

body {
	width:100%;
	background:#fff;
	min-width:800px;
	font-size:90%;
	margin:0;
	padding:0;
	border:0;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}

header {
	clear:both;
	float:left;
	width:100%;
}
header {
	border-bottom:1px solid #000;
}

#main{
	float:left;
	width:65%;
}

#sidebar{

	float:right;
	width:35%;
	height: 100%;
}

header p,
#sidebar p,
#main p{
	padding-left:10px;
	padding-top:10px;
}

footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
}
footer p {
	padding:10px;
	margin:0;
}
