@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('fonts/modernpics-webfont.eot');
    src: url('fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/modernpics-webfont.woff') format('woff'),
         url('fonts/modernpics-webfont.ttf') format('truetype'),
         url('fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	width:100%;
	background:#fff;
	min-width:800px;
	font-size:90%;
	margin:0;
	padding:0;
	border:0;
	background:black url('imgs/striped.png') repeat right top;

	
}

a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	margin: 0;

	color:white;
	width:100%;
	padding: 4px 0px;

	text-shadow: 1px 1px #555;
	font-size: 14px;
	background: #444;
	text-indent: 10px;
	
}


h3{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;

	color:white;
	width:100%;
	padding: 4px 0px;

	text-shadow: 1px 1px #555;
	font-size: 12px;
	background: #444;
	text-indent: 10px;
}



button{
	border: 1px solid #333;
	background: #333;
	color: white;
	cursor: pointer;
	padding: 7px 10px;
	font-weight: bold;
	border-radius: 2px;
	margin: 10px;
}

ul{
	margin: 0;
	padding: 0;
}

li:nth-child(even) {background: #eee;}
li:nth-child(odd) {background: #FFF;}

li{
	list-style-type: none;
	width: 100%;
	padding: 4px 0;

	border-bottom:  1px solid #DDD;
	
}



input {
	border: 1px solid #CCC;
	color: #333;
	border-radius: 2px;
	background-color: #F7F7F7;
	box-shadow: 1px 1px 2px #E7E7E7;
	padding: 8px 5px;
}

p {
	margin:.4em .8em;
	padding:0;
}
img {
	margin:10px 0 5px;
}

header {
	clear:both;
	float:left;
	width:90%;
	text-align:right;
	height: 45px;
}

section{
	background:white;
	margin-bottom: 15px;
	line-height: 20px;
	border-radius: 0 2px 2px 2px;
	border: 1px solid #DDD;
}

#main{
	float:left;
	width:55%;
	margin-left:30px;

}

p{
	padding: 10px 0;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar{

	float:left;
	width:28%;
	height: 100%;
	margin-left:15px;

}


footer {
	clear:both;
	float:left;
	width:100%;
	text-align:center;
}
footer p {
	padding:10px;
	margin:0;
}



.icon:before {
	font: 15px 'ModernPictogramsNormal', Arial, sans-serif;
	content: attr(data-icon);
	margin-right: 0.4em;
	position: relative;
	top: -1px;
}

#words ul .icon:before, #exclude ul .icon:before {
	font: 24px 'ModernPictogramsNormal', Arial, sans-serif;
	margin: 0 5px;
	position: relative;: 
	color: #555;
	opacity: .2;
	top: 2px;
}




#words li{
	cursor: move;
	padding-bottom: 0;
}

#words ul li.icon:before {
	top: -5px;
}

#words li.unmoveable{
	cursor: auto;
}

#words li.unsortable{

text-align:center;
-webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.1);
background: #fff;

	background:black url('imgs/striped_light.png') repeat right top;
}

#words ul li.icon.unsortable:before {
	top: 0px;
}

#words li.unsortable span{
	font: 17px sans-serif;
	color: #555;
	opacity: 0.5;
	text-align: center;
	
}

/* icon only */
#words .remove-list-item, #exclude .remove-list-item {
	font-weight: normal;
	font-style: normal;
	text-indent: 	-999em;
}
#words .remove-list-item:before , #exclude .remove-list-item:before{ 
	font: 24px 'ModernPictogramsNormal', Arial, sans-serif;
	margin-right: 9px;
	display: block;
	height: 0;
	text-indent: 0px;
	line-height: 42px;
	float: right;
}

#words input{
	width: 35%;
	height: 4px;
}

#words span.transform{
	font: 30px 'ModernPictogramsNormal', Arial, sans-serif;
	height: 0;
	text-indent: 0px;
	opacity: .1;
	position: relative;
	top: -4px;
}

#exclude li input{
	margin-left: 10px;
	width: 70%;
}


.tooltip{
	font: 10px sans-serif;
	color: yellow;
	margin-left: 5px;
	border-bottom: 1px solid yellow;
	cursor: help;
	position:relative;
	top: -2px;
	text-transform: none;
} 

.tooltip span{
	display: block;
	width: 90%;
	display: none;
	padding: 15px;
	
}

#toggles input{
	max-width: 15px;
}

#toggles textarea {
	margin: 10px;
	width: 90%;
}

#toggles .save, #toggles .loads{
	display: none;
}

